.btn-outline-maroon {
  border: 2px solid #891414;
  color: #891414;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn-outline-maroon:hover {
  background-color: #891414;
  color: white;
  transform: translateY(-2px);
}
.btn-maroon {
  background-color: #4b1c2d;
  color: white;
  transition: all 0.3s ease;
  border: 2px solid #4b1c2d;
  margin-left: 20px;
  border-radius: 4px;
  font-weight: 600;


}
.btn-maroon:hover{
  background-color: white;
  color: #4b1c2d;
  transform: translateY(-2px);
}
.form-check-input:checked {
  background-color: #4b1c2d !important;
  border-color: #4b1c2d !important;
}

.form-check-input:focus {
  border-color: #4b1c2d !important;
  box-shadow: 0 0 0 0.25rem rgba(75, 28, 45, 0.5) !important;

}
